main {
    padding: 2em;
    width: 240pt;
    margin: auto;
}

h1, h2, p{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    opacity: 0.8;
}

h2 {
    margin-block-start: 0;
}

p{
    font-size: 0.8em;
}
#container {
    display: grid;
    margin: auto;
    width: 200pt;
    height: 300pt;
    grid-template-columns: repeat(4, 1fr);
}

#container button {
    margin: 2px;
    border: none;
    font-size: 1.5em;
    opacity: 0.85;
    transition: opacity 0.3s;
}

#container button.n {
    background-color: rgba(150,150,150,0.2);
}

#container button.o {
    background-color: rgba(150,150,150,0.5);
}

#container button.b {
    background-color: rgba(150,150,150,1);
    color: hsl(40, 10%, 95%);
    font-weight: bold;
}

#inputBox {
    grid-column: 1/5;
    margin: 2px;
    border: none;
    border-top: 2px solid hsl(0, 0%, 95%);

    font-size: 1.5em;
    background-image: linear-gradient(0deg,hsla(40, 10%, 65%, 0.2) 0%, hsla(40, 10%, 100%, 0.01) 30%);
}

#clear {
    grid-column: 1/3;
}

#equal {
    grid-column: 3/5;
}

#container button:hover {
    opacity: 1;
}

#container button:active {
    background-image: linear-gradient(0deg,hsla(40, 10%, 100%, 0.5) 0%, hsla(40, 10%, 100%, 0.2) 35%);
    transform: scale(1.05);
    transition: all 0.15s;
}